.navbar {
    display: block;
}

.navbar-top {
    padding: 20px 0;
    border-bottom: 1px solid #ededed;
}

.navbar-container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar-intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 36px;
    font-weight: 800;
}

.logo .logo-th {
    color: black;
}

.navbar_search {
    position: relative;
    flex: 2;
}

.navbar_search .search-field {
    font-size: 15px;
    padding: 12px 15px;
    padding-right: 50px;
    border: 1px solid #ededed;
    border-radius: 10px;
    width: 100%;
}

.search-btn {
    background-color: white;
    position: absolute;
    top: 50%;
    right: 2px;
    transform: translateY(-50%);
    color: var(--onxy);
    font-size: 18px;
    padding: 8px 15px;
    border-radius: 10px;
    transition: color 0.2s ease;
}

.search-btn:hover {
    color: var(--primary);
}

.navbar-icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon {
    display: block;
}

.navbar-icons .action-btn {
    position: relative;
    font-size: 30px;
    color: var(--onxy);
    padding: 5px;
}

.navbar-icons .count {
    position: absolute;
    top: -2px;
    right: -3px;
    background: var(--bittersweet);
    color: white;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    padding: 2px 4px;
    border-radius: 20px;
}

.user-list {
    display: none;
    position: absolute;
    width: max-content;
    top: 100%;
    background-color: hsl(0, 30%, 97%);
    border-radius: 5px;
    z-index: 50;
    overflow: hidden;
    right: 0;
}

.user-item {
    display: flex;
    align-items: center;
    color: var(--onxy);
    gap: 5px;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 10px;
}

.user-item:hover {
    color: white;
    background-color: black;
}

.action-btn:hover .user-list {
    display: block;
}

.desktop-menu-category-list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.desktop-menu-category-list .menu-category>.menu-title {
    position: relative;
    color: var(--onyx);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 18px 0;
    transition: color 0.2s ease;
    display: block;
}

.desktop-menu-category-list .menu-category>.menu-title:hover {
    color: var(--primary);
}

.desktop-menu-category-list .menu-category>.menu-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1%;
    height: 2.5px;
    background: var(--primary);
    transform: scaleX(0);
    transform-origin: left;
    transition: width 0.4s ease;
}

.desktop-menu-category-list .menu-category>.menu-title:hover::after {
    transform: scaleX(1);
    width: 100%;
}

/* Mobile navbar */
.navbar-mobile {
    background: white;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 550px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top-right-radius: var(--border-radius-md);
    border-top-left-radius: var(--border-radius-md);
    padding-top: 5px;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.25);
    z-index: 5;
    display: none;
}

.navbar-mobile .action-btn {
    position: relative;
    font-size: 26px;
    color: black;
    padding: 10px;
}

.navbar-mobile .count {
    background: var(--bittersweet);
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    padding: 2px 4px;
    border-radius: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 35%;
    height: 100%;
    background-color: #fff;
    z-index: 1001;
    padding: 20px;
    transition: left 0.3s ease;
}

.mobile-menu.active {
    left: 0;
    transition: left 0.3s ease;
}

.mobile-menu h3 {
    color: var(--primary);
    padding-bottom: 15px;
    margin-bottom: 10px;
    font-size: 20px;
    border-bottom: 2px solid var(--cultured);
}

.mobile-menu-title {
    color: var(--onyx);
    font-size: 18px;
    font-weight: 500;
    padding: 12px 0;
}

/* Responsive */
@media screen and (max-width: 1536px) {
    .navbar-container {
        max-width: 1366px;
    }
}

@media screen and (max-width: 1280px) {
    .navbar-container {
        max-width: 1024px;
    }
}

@media screen and (max-width: 1024px) {
    .navbar-container {
        max-width: 768px;
    }

    .navbar-icons {
        display: none;
    }

    .navbar-bottom {
        display: none;
    }

    .navbar {
        margin-bottom: 20px;
    }

    .navbar-mobile {
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .navbar-container {
        max-width: 640px;
    }
}

@media screen and (max-width: 640px) {
    .navbar-intro {
        flex-direction: column;
        gap: 15px;
    }

    .navbar_search {
        width: 100%;
    }

    .mobile-menu {
        width: 60%;
    }

    .navbar-mobile {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
}