.container-cart {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.left-panel {
    width: 70%;
}

.right-panel {
    width: 30%;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card h2 {
    margin-bottom: 15px;
    font-size: 20px;
}

.card p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

.card .card-address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.card-address h2 {
    margin-bottom: 0;
}

.card .cartconfirm-edit {
    color: var(--primary);
}

.card .cartconfirm-edit:hover {
    opacity: 0.7;
}

.card-prodInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.card-prodInfo .card-prodInfo-img {
    max-width: 140px;
    max-height: 14 0px;
    border-radius: 5px;
}

.right-panel input[type='radio'] {
    margin-right: 5px;
}

.right-panel label {
    font-size: 14px;
}

.right-panel h3 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 18px;
}

.right-panel p {
    font-size: 16px;
    margin-bottom: 8px;
}

.right-panel button {
    width: 100%;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--primary);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    transition: var(--transition-timing);
}

.payment-choice {
    width: 100%;
    border-radius: var(--border-radius-sm);
    width: 100%;
}

.payment-option {
    display: flex;
    align-items: center;
    gap: 5px;
}


.payment-logo {
    width: 50px;
    height: 50px;
}

.confirm-total-price {
    font-weight: 600;
    font-size: 18px;
    color: var(--primary);
}

.right-panel button:hover {
    background-color: black;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
}

.form-container {
    position: fixed;
    top: -100%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--border-radius-sm);
    width: 800px;
    height: auto;
    background-color: #fff;
    z-index: 1001;
    padding: 20px;
    transition: top 0.3s ease;
}

.form-container.active {
    top: 50%;
    transition: top 0.3s ease;
}

/* Responsive */
@media screen and (max-width: 1536px) {}

@media screen and (max-width: 1280px) {
    .left-panel {
        width: 60%;
    }

    .right-panel {
        width: 40%;
    }
}

@media screen and (max-width: 1024px) {
    .left-panel {
        width: 55%;
    }

    .right-panel {
        width: 45%;
    }
}

@media screen and (max-width: 768px) {
    .container-cart {
        flex-direction: column;
    }

    .left-panel {
        width: 100%;
    }

    .right-panel {
        width: 100%;
    }
}

/* edit form user */
.address-form {
    display: flex;
    gap: 40px;
}

.addform-left-section,
.addform-right-section {
    width: 50%;
}

.addform-user-info {
    margin-bottom: 15px;
}

.addform-user-info input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.addform-user-info p {
    margin-bottom: 5px;
}

.addform-user-info input:focus {
    outline: none;
    border-color: var(--primary);
}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.buttons .addform-btn-save {
    padding: 10px 50px;
    margin-left: 10px;
    background: var(--primary);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttons .addform-btn-save:hover {
    background-color: black;
}

.buttons .addform-btn-cancel {
    padding: 10px 50px;
    margin-left: 10px;
    background: rgb(238, 238, 238);
    color: var(--onxy);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttons .addform-btn-cancel:hover {
    opacity: 0.7;
}

.ant-select-selector:hover {
    border-color: var(--primary) !important;
}

.ant-select-selector {
    border-color: #d9d9d9 !important;
    box-shadow: none !important;
}

@media screen and (max-width: 640px) {}