.cart-page {
    margin: 60px;
}

.cart-page table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

th {
    text-align: left;
    padding: 5px;
    color: white;
    background: var(--primary);
    font-weight: 600;
    font-size: 20px;
}

td {
    padding: 10px 5px;
}

td input {
    width: 50px;
    height: 30px;
    padding: 5px;
}

td button {
    color: var(--primary);
    font-size: 16px;
}

td img {
    width: 150px;
    height: 150px;
    margin-right: 10px;
}

.cart-page-quantity{
    display: flex;
    align-items: center;
}

.cart-page-quantity .btn-quantity-plus,
.cart-page-quantity .btn-quantity-minus {
    height: 100%;
    font-size: 18px;
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 8px;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 30%);
}

.cart-page-quantity input {
    width: 40px;
    height: 100%;
    padding: 6px;
    text-align: center;
    border: 1px solid rgb(206, 206, 206);
    border-radius: var(--border-radius-sm);
    box-shadow: 1px 1px 5px rgb(0 0 0 / 19%);
}

.cart-total-price {
    display: flex;
    justify-content: flex-end;
}

.cart-total-price table {
    border-top: 3px solid var(--primary);
    width: 100%;
    max-width: 400px;
    font-size: 18px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

.cart-total-price th {
    text-align: center;
    cursor: pointer;
    padding: 10px 0;
    transition: var(--transition-timing);
}

.cart-total-price th:hover {
    background: black;
}

/* Responsive */
@media screen and (max-width: 1536px) {
    
}

@media screen and (max-width: 1280px) {
    
}

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 768px) {
    .cart-page {
        margin: -15px -15px 50px -15px;
    }
    th {
        font-size: 18px;
    }
}

@media screen and (max-width: 640px) {
}