.profile-container {
    display: flex;
    margin-bottom: 50px;
    margin-top: 20px;
    gap: 20px;
}

.profile-sidebar {
    box-shadow: 1px 1px 5px rgb(0 0 0 / 25%);
    border-radius: var(--border-radius-sm);
    padding: 10px 20px;
    width: 20%;
}

.profile-sidebar .profile-sidebar-acc {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 20px;
}

.profile-sidebar .profile-sidebar-acc p {
    font-weight: 600;
    font-size: 18px;
}

.profile-sidebar-acc .icon-edit-profile {
    font-size: 25px;
    cursor: pointer;
    transition: var(--transition-timing);
}

.profile-sidebar-acc .icon-edit-profile:hover {
    color: var(--primary);
}

.profile-sidebar-lists a {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    width: 100%;
    padding: 10px;
    color: black;
    transition: var(--transition-timing);
}

.profile-sidebar-lists a:hover {
    color: var(--primary);
}

.profile-acc-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profile-user-info {
    box-shadow: 1px 1px 5px rgb(0 0 0 / 25%);
    border-radius: var(--border-radius-sm);
    padding: 15px;
    width: 80%;
}

.profile-user-info h2 {
    font-weight: 500;
}

.profile-user-info p {
    color: var(--onxy);
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(232, 232, 232);
}

.profile-user-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.profile-user-table tr td {
   padding: 10px;
}

.profile-user-ava {
    padding: 10px;
}

.profile-user-item {
    margin-bottom: 10px;
    font-size: 16px;
    padding: 5px;
}